.heading-site {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/*
HEADER
*/
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgb(0, 0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 999;
}

.header .header-logo {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
	height: 150%;
}

.header .header-menu {
    float: right;
    margin-right: 30px;
}

.header .header-menu a {
    margin-right: 15px;
    color: #ffffff;
}

.header .header-menu a:hover {
    color: #3498db;
}

/*
BANNER
*/
.banner {
    margin-top: -20px;
}

.banner .banner-image {
    position: relative;
	width: 100%;           /*Taille de l'image que j'ai mis en fond*/
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
}

.banner .banner-content h1,
.banner .banner-content h2 {
    color: #ffffff;              
}

/*
ABOUT
*/

.about .about-single-element i {
    font-size: 30px;
    text-align: center;
}

.about .about-single-element {
    text-align: center;
}

.about .about-single-element p {
    text-align: left;
    margin-top: 20px;
}

.about .about-single-element .movie {
    text-align: center;
    margin-top: 20px;
}

.is-send {
    margin-left: 50%;
    margin-top: 35px;
}

/*
Les differents tableaux
*/

.me {
    text-align: center;
}